/* DISCOGRAFIA INICIO*/

.main-discografia{
    background-image: url(../multimedia/consola-1.jpg);
}


.wow.animate__shakeX{
    animation: infinite-bounce 3s infinite;
}

.jumbotron{
    background-image: url(../multimedia/upscaled-2x-estudioluchi.jfif);
    height: 500px;
    background-size: cover;
    background-position: center;
}
.h1-discografia{
    font-size: 40px;
    padding: 20px;
    text-shadow: 0 0 5px black;
    font-family: "Orbitron", sans-serif;
    text-align: center;
    text-decoration: underline;
    text-shadow: 0 0 5px $colorprincipal;
}
.h2-discografia{
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    text-align: center;
    padding: 20px;
    color: white;
    text-shadow: 0 0 5px black;
    font-family: "Mukta", sans-serif;
}
.h3-discografia{
    color: white;
    text-shadow: 0 0 5px black;
    font-family: "Mukta", sans-serif;
    text-align: center;
    
}

.h4-discografia{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(249, 5, 216);
    font-size: 30px;
    text-align: center;
    padding: 20px;
}


/* DISCOGRAFIA FINAL*/