/* GALERIA INICIO*/

.main-galeria{
    background-image: url(../multimedia/consola-2.jpeg);
    background-size: cover;
    background-position: center;
    color: white;
    background-color: black;
}

.div-galeria{
    font-family: "Mukta", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 5px black;
    font-size: 35px;
    border:3px solid black ;
    h1{
        margin: 10px;
        padding: 5px;
        font-family: "Mukta", sans-serif;
        text-transform: uppercase;
        color: #ffffff;
        text-shadow: 0 0 5px $colorprincipal;
        font-size: 32px;
        background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    }
}

.galeria{
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    grid-template-rows: repeat(5,180px);
    grid-template-areas:
    "img1 img2 img3 img3"
    "img1 img2 img5 img6"
    "img1 img4 img5 img8"
    "img7 img4 img5 img8"
    "img7 img4 img5 img8"; 
    grid-gap: 5px;
    padding: 10px;
    }

.item{
    border: 3px solid #020000;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    border-radius: 6px;
}

.item:hover{
    transition: all 0,07; 
    transform: scale(1.01);
}

.item1{
    grid-area: img1;
    background-image: url(../multimedia/dark1.JPG);
    justify-items: right;
}
.item2{
    grid-area: img2;
    background-image: url(../multimedia/vestidoazulinvertido.JPG);
}
.item3{
    grid-area: img3;
    background-image: url(../multimedia/puravidahd.JPG);
}
.item4{
    grid-area: img4;
    background-image: url(../multimedia/guitarra1.JPG);
}
.item5{
    grid-area: img5;
    background-image: url(../multimedia/outfitnegro1.JPG);
    background-position: top;
    
}
.item6{
    grid-area: img6;
    background-image: url(../multimedia/negro2daptado.png);
}
.item7{
    grid-area: img7;
    background-image: url(../multimedia/love1.JPG);
}
.item8{
    grid-area: img8;
    background-image: url(../multimedia/techno1.JPG);
    background-position: top;
}

/* GALERIA FINAL */