/* MAIN HOME INCIO*/

.home{
    background-image: url(../multimedia/consola-1.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    color: white;
    background-color: black;
}
.h1-home{
    padding: 15px;
    font-family: "Orbitron", sans-serif;
    color: #fefdfd;
    font-size: 32px;  
    text-shadow: 0 0 5px $colorprincipal;
    text-align: left;
}

.h2-home{
    padding: 15px;
    font-family: "Work Sans", sans-serif;
    color: #fefdfd;
    font-size: 25px; 
    text-shadow: 0 0 5px $colorprincipal;
    text-align: center;
}

.h3-home{
    padding: 12px;
    font-family: "Orbitron", sans-serif;
    color: #fefdfd;
    font-size: 15px;  
    text-shadow: 0 0 5px $colorprincipal;
    text-align: center;
}

.img-mid-home{
    background-image: url(../multimedia/techno2.JPG);
    background-size: cover;
    background-position: center;
    height: 650px;
    border: 5px solid #000000;
    border-radius: 10px;
}

.img-home{
    background-image: url(../multimedia/dark1recort.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;
    border: 5px solid #000000;
    border-radius: 10px;
    margin-bottom: 10px;
}

.img-home2{
    background-image: url(../multimedia/guitarra1.JPG);
    background-size: cover;
    background-position: center;
    height: 650px;
    border: 5px solid #000000;
    border-radius: 10px;
    margin-bottom: 10px;
}
.p-home{
    font-size: 15px;
    text-align: center;
    padding: 7px;
}

.p-home2{
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 1px;
}

.p-home3{
    font-family: "Work Sans", sans-serif;
    text-align: center;
    font-size: 16px;
}

.p-home::first-letter{
    font-size: 20px;
}

.link-trayectoria{
    background-color: $colorprincipal;
    font-family: "Work Sans", sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin-left: 15px;
    text-shadow: 0 0 5px rgb(1, 0, 2);
}

.aboutme{
    background-color: #02020275;
}

.link-discografia{
    background-color: $colorprincipal;
    font-family: "Work Sans", sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 5px rgb(1, 0, 2);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
}
.terminos{
    font-size: 16px;
    color: red;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

.icono-contacto{
    font-size: 24px;
}
/* MAIN HOME FINAL*/