/* TRAYECTORIA INICIO*/

.main-trayectoria{
    background-color: black;
    background-image: url(../multimedia/consola-2.jpeg);
    background-size: cover;
    background-position: center;
    color: white;
    background-color: black;
}

.h1-trayectoria{
    font-family: "Work Sans", sans-serif;
    font-size: 30px;
    text-align: center;
    color: #fefdff;
    padding-top: 10px;
    text-shadow: 0 0 5px $colorprincipal;
}

.p-trayectoria{
    text-align: center;
    font-family: "Work Sans", sans-serif;
    color: white;
    font-size: 15px;
    padding-top: 20px;
    margin: 10px;
}

.p-trayectoria2{
    text-align: center;
    font-family: "Work Sans", sans-serif;
    color: white;
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
    margin: 10px;
}

.nright{
    background-image: url(../multimedia/luchifacha.jfif);
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
}

.nright2{
    background-image: url(../multimedia/techno1.JPG);
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
}


.nleft{
    background-image: url(../multimedia/luchieivan.jfif);
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
}

.nleft2{
    background-image: url(../multimedia/puravidahd.JPG);
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
}
.h2-trayectoria-tablet{
    font-size: 25px;
        padding-top: 33px;
        padding-bottom: 20px;
        text-align: center;
        font-family: "Work Sans", sans-serif;
        color: white;
        text-shadow: 0 0 5px $colorprincipal;
}
.p-trayectoria::first-letter{
    font-size: 22px;
}

/* TRAYECTORIA FINAL */
