/* TRAYECTORIA INICIO*/

.main-trayectoria{
    background-color: black;
    background-image: url(../multimedia/fondonegropintura.jpg);
}

.h1-trayectoria{
    font-family: "Work Sans", sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
    padding-top: 10px;
}

.p-trayectoria{
    font-family: "Work Sans", sans-serif;
    color: white;
    text-align: center;
    padding: 13px;
    padding-bottom: 13px;
    font-size: 14px;
}

.nright{
    background-image: url(../multimedia/luchifacha.jfif);
    height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
}

.nright2{
    background-image: url(../multimedia/techno1.JPG);
    height: 350px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 3px;
}


.nleft{
    background-image: url(../multimedia/luchieivan.jfif);
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
}

.nleft2{
    background-image: url(../multimedia/puravidahd.JPG);
    height: 500px;
    background-size: cover;
    background-position: center;
    margin-left: 20px;
    border-radius: 3px;
}

/* TRAYECTORIA FINAL */
