
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Orbitron:wght@400..900&family=Workbench&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Rubik+Glitch+Pop&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables SASS */
$colorprincipal: #C287E8;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body{
    a:hover {
        color: rgb(255, 255, 255);
    }
}

@import "index.scss";
@import "trayectoria.scss";
@import "discografia.scss";
@import "galeria.scss";
@import "contacto.scss";
@import "header.scss";
@import "footer.scss";


/* MEDIA QUERIES */

@media(max-width:360px){
    a.titulo-navbar{
        font-size: 15px;
    }
    .p-trayectoria{
        font-size: 12px;
    }

    .p-tt{
        font-size: 11px;
        padding-top: 40px;
    }

}

@media(max-width:375px){
    a.titulo-navbar{
        font-size: 15px;
    }
    .p-trayectoria{
        font-size: 13px;
    }

    .p-tt1{
        font-size: 13px;
    }

    .nright2{
        margin-top: 34px;
    }
}


@media(max-width:390px) and (min-width:390px){
    .nright2{
        margin-top: 20px;
    }
    .p-tt1{
        font-size: 13px;
    }
}



@media(max-width: 480px){
    .galeria{
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        grid-template-rows: repeat(8,180px); 
        grid-template-areas:
        "img1 img2"
        "img1 img3"
        "img4 img3"
        "img4 img5"
        "img8 img5"
        "img8 img7"
        "img8 img7"
        "img6 img7";
        grid-gap: 5px;
        padding: 10px;
        }

        .h2-galeria{
            font-family: "Orbitron", sans-serif;
            text-align: center;
            background-color: #C287E8;
            color: #ffffff;
            text-shadow: 0 0 5px black;
            font-size: 22px;
            border:3px solid black ;
            margin: 10px;
            padding: 5px;
            text-decoration: underline;
        }

    .navbar-pc{
        display: none;
    }

    .navbar-mobile{
        background-color: $colorprincipal;
        padding-bottom: 1px;
        border: solid;
    }

    .titulo-navbar{
            font-family: "Orbitron", sans-serif;
            padding-top: 5px;
            padding-bottom: 20px;
            font-size: 18px;
            text-decoration: underline;
            color: #fffefe!important;
            font-weight: bold;
            text-shadow: 0 0 5px black;
    }
    .nav-a{
    color: rgb(250, 245, 245)!important;
    text-decoration: none;
    font-size: 16px;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    text-shadow: 0 0 5px black;
    }
    .fa-color{
        color: white;
    }
}

@media(min-width: 480px){
    .navbar-mobile{
        display: none;
    }
}

@media(max-width: 540px){
    .p-tt{
        padding-top: 40px;
    }
    

    }


@media(max-width:900px) and (min-width:480px){
    .navegador{
        margin: 10px;
    }
}

@media(max-width: 320px){
    .navbar-pc{
        display: none;
    }
    .nright2{
        margin-top: 38px;
    }
    .p-tt1{
        font-size: 11px;
    }
    .parrafo-footer{
        font-size: 14px;
    }


}


@media(max-width: 1024px) and (min-width: 700px){

    .h1-trayectoria{
        font-size: 28px;
    }

    .p-trayectoria{
        font-size: 16px;
    }

    .p-tt{
        font-size: 16px;
        padding: 70px;
        padding-top: 25px;
    }
    .p-tt1{
        padding-top: 30px;
    }
}

@media(min-width:1024px){
    .container-mobile{
        display: none;
    }
}

@media(max-width:1023px){
    .container-pc{
        display: none;
    }
}

/* MEDIA QUERRIE TRAYECTORIA PC */
@media(min-width:1024px) and (max-width:1920px){
    .nright{
        height: 750px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .nleft{
        height: 750px;
        margin-top: 20px;
    }
    
    .nleft2{
        height: 700px;
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .nright2{
        height: 700px;
        margin-top: 20px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .p-tpc{
        font-size: 16px;
        padding: 30px;
        padding-top: 40px;
    }
    .h1-trayectoria{
        font-size: 30px;
        padding-top: 20px;
    }

    .h2-trayectoria{
        font-size: 25px;
        padding-top: 33px;
        padding-bottom: 20px;
        text-align: center;
        font-family: "Work Sans", sans-serif;
        color: white;
        text-shadow: 0 0 5px $colorprincipal;
    }

}

@media(min-width:1024px) and (max-width:1366px){
    .nright{
        height: 550px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .nleft{
        height: 550px;
        margin-top: 20px;
    }
    
    .p-tpc{
        font-size: 14px;
        padding: 12px;
    }

    .p-tpc-invisible{
        display: none;
    }

}

@media(min-width:1280px) and (max-width:1366px){
    .p-home{
        padding: 4px;
        font-size: 14px;
    }

    .p-home2{
        font-size: 14px;
    }

    .h1-home{
        font-size: 30px;
        padding: 10px;
    }

    .h2-home{
        padding: 5px;
        padding-top: 15px;
        font-size: 20px;
    }

    h3.home{
        font-size: 15px;
    }

    .link-trayectoria{
        font-family: "Work Sans", sans-serif;
        color: rgb(255, 253, 253);
        text-decoration: none;
        border-radius: 4px;
        text-shadow: 0 0 5px blueviolet;
        font-size: 20px;
        font-weight: bold;
        border: 1px solid white;
    }
    .img-home{
        margin-bottom: 30px;
    }

    .img-home2{
        margin-bottom: 30px;
    }
}

@media(min-width:1280px) and (max-width:1280px){
    .img-home{
        margin-bottom: 45px;
    }

    .img-home2{
        margin-bottom: 45px;
    }
}

@media(min-width:1366px) and (max-width:1366px){
    .p-tpc{
        padding-top: 40px;
    }
}

@media(min-width:320px) and (max-width:480px){
    .home-pc{
        display: none;
    }
    .home-mobile{

        .img-home{
            display: none;
        }
    }

    .h1-home{
        text-align: center;
    }

}


@media(min-width:480px){
    .home-mobile{
        display: none;
    }
}

@media(min-width:768px) and (max-width:1024px){
    
    .img-home{
        background-image: url(../multimedia/dark1recorttablet.jpg);
        background-size: cover;
        background-position: center;
        height: 650px;
        border: 5px solid #000000;
        border-radius: 10px;
        margin-bottom: 10px;
        
    }

}

@media(min-width:1920px) and (max-width:1920px){
    .h1-home{
        font-size: 45px;
    }

}