
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Orbitron:wght@400..900&family=Workbench&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Rubik+Glitch+Pop&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables SASS */
$colorprincipal: #C287E8;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body{
    a:hover {
        color: rgb(255, 255, 255);
    }
}

@import "index.scss";
@import "trayectoria.scss";
@import "discografia.scss";
@import "galeria.scss";
@import "contacto.scss";
@import "header.scss";
@import "footer.scss";


/* MEDIA QUERIES */

@media(max-width: 320px){
    .h1-trayectoria{
        font-size: 30px;
    }
    .navbar-pc{
        display: none;
    }
    .p-trayectoria{
        font-size: 15px;
    }
    .parrafo-footer{
        font-size: 14px;
    }
    .nleft{
        height: 400px;
    }
    .nleft2{
        height: 400px;
    }
    .nright{
        height: 400px;
    }
    .nright2{
        height: 400px;
    }
}

@media(min-width:320px) and (max-width:480px){
    .home-pc{
        display: none;
    }
    .home-mobile{
        .img-home{
            display: none;
        }
    }
    .h1-home{
        text-align: center;
    }
}

@media(max-width:360px){
    a.titulo-navbar{
        font-size: 15px;
    }
    .p-trayectoria{
        font-size: 15px;
    }
    .parrafo-footer{
        font-size: 14px;
    }
}

@media(max-width:375px){
    a.titulo-navbar{
        font-size: 15px;
    }
    .p-trayectoria{
        font-size: 15px;
    }
    .parrafo-footer{
        font-size: 15px;
    }
    .mis-redes{
        font-size: 14px;
    }
}

@media(max-width:390px) and (min-width:390px){
    .p-trayectoria{
        font-size: 15px;
    }
    .parrafo-footer{
        font-size: 15px;
    }
}

@media (min-width:420px) and (max-width:600px){
    .nleft2{
        height: 700px;
    }

}

@media(min-width:480px){
    .home-mobile{
        display: none;
    }
}

@media(max-width: 480px){
    .galeria{
        background-color: black;
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        grid-template-rows: repeat(8,180px); 
        grid-template-areas:
        "img1 img2"
        "img1 img3"
        "img4 img3"
        "img4 img5"
        "img8 img5"
        "img8 img7"
        "img8 img7"
        "img6 img7";
        grid-gap: 5px;
        padding: 10px;
        }

        .h2-galeria{
            font-family: "Orbitron", sans-serif;
            text-align: center;
            background-color: #C287E8;
            color: #ffffff;
            text-shadow: 0 0 5px black;
            font-size: 22px;
            border:3px solid black ;
            margin: 10px;
            padding: 5px;
            text-decoration: underline;
        }

    .navbar-pc{
        display: none;
    }

    .navbar-mobile{
        background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
        padding-bottom: 1px;
        border: solid;
    }

    .titulo-navbar{
            font-family: "Orbitron", sans-serif;
            padding-top: 5px;
            padding-bottom: 20px;
            font-size: 18px;
            text-decoration: underline;
            color: #fffefe!important;
            font-weight: bold;
            text-shadow: 0 0 5px black;
    }
    .nav-a{
    color: rgb(250, 245, 245)!important;
    text-decoration: none;
    font-size: 16px;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    text-shadow: 0 0 5px black;
    }
    .fa-color{
        color: white;
    }
}

@media(min-width: 480px){
    .navbar-mobile{
        display: none;
    }
}

@media(min-width: 540px) and (max-width:740px){
    .p-tt{
        padding-top: 40px;
    }
    .img-home{
        background-image: url(../multimedia/dark1recort540.jpg);
    }
    .navegador{ 
        font-family: "Orbitron", sans-serif;
        color: rgb(0, 0, 0);
        font-size: 12px;
        margin-right: 10px;
        margin-left: 10px;
        background-color: $colorprincipal;
        font-weight: bold;
    }
    .titulo-principal{
        font-family: "Orbitron", sans-serif;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 28px;
        text-decoration: underline;
        color: #000000;
    }
    .parrafo-footer{
        font-size: 18px;
    }
    .mis-redes{
        font-size: 16px;
    }
}

@media(min-width:660px) and (max-width:700px){
    .img-home{
        background-image: url(../multimedia/dark1recortceluacostado.jpg);
    }
}

@media(min-width:650px) and (max-width:820px){
    .p-trayectoria{
        padding-left: 60px;
        padding-right: 60px;
    }
    /* .nleft2{
        background-size: cover;
        background-position: center;
        height: 850px;
        border: 5px solid #000000;
        border-radius: 10px;
        margin-bottom: 10px;
    } */
}



@media(max-width:900px) and (min-width:480px){
    .navegador{
        margin: 10px;
    }
}

@media(max-width: 1024px) and (min-width: 700px){
    .h1-trayectoria{
        font-size: 28px;
    }
    .p-trayectoria{
        font-size: 16px;
    }
}

@media(max-width:599px){
    .container-tablet{
        display: none;
    }
}

@media(min-width:600px){
    .container-mobile{
        display: none;
    }
}

@media(max-width:992px){
    .container-pc{
        display: none;
    }
}

@media(min-width:993px){
    .container-tablet{
        display: none;
    }
}

/* MEDIA QUERRIE TRAYECTORIA PC */

@media(min-width:768px) and (max-width:1024px){
    .img-home{
        background-image: url(../multimedia/dark1recorttablet.jpg);
        background-size: cover;
        background-position: center;
        height: 650px;
        border: 5px solid #000000;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .img-home2{
        background-position: top;
        background-image: url(../multimedia/guitarra1recorte1024.jpg);
    }
    .h1-home{
        font-size: 45px;
    }
    .p-home{
        padding: 0px;
        font-size: 14px;
    }
}

@media(min-width:1024px) and (max-width:1920px){
    .nright{
        height: 750px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .nleft{
        height: 750px;
        margin-top: 20px;
    }
    .nleft2{
        height: 700px;
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .nright2{
        height: 700px;
        margin-top: 20px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .p-tpc{
        font-size: 16px;
        padding: 30px;
        padding-top: 40px;
    }
    .h1-trayectoria{
        font-size: 30px;
        padding-top: 20px;
    }
    .h2-trayectoria{
        font-size: 25px;
        padding-top: 33px;
        padding-bottom: 20px;
        text-align: center;
        font-family: "Work Sans", sans-serif;
        color: white;
        text-shadow: 0 0 5px $colorprincipal;
    }
}

@media(min-width:1024px) and (max-width:1366px){
    .img-home{
        background-image: url(../multimedia/dark1recort1366.jpg);
    }
    .h1-home{
        font-size: 45px;  
    }
    .nright{
        height: 550px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .nleft{
        height: 550px;
        margin-top: 20px;
    }
    .p-trayectoria{
        font-size: 15px;
        margin: 1px;
        margin-bottom: 1px;
    }
    .p-trayectoria2{
        font-size: 15px;
        margin-bottom: 1px;
        margin-top: 10px;
    }
}

@media(min-width:1280px) and (max-width:1280px){
    .h1-home{
        font-size: 100px;
    }
    .img-home{
        margin-bottom: 45px;
    }
    .img-home2{
        margin-bottom: 45px;
    }
    .p-home{
        padding: 4px;
        font-size: 16px;
    }
    .p-home2{
        padding: 0px;
        font-size: 15px;
    }
    .p-home3{
        font-size: 16px;
    }
    .h1-home{
        font-size: 30px;
        padding: 10px;
    }
    .h2-home{
        padding: 5px;
        padding-top: 15px;
        font-size: 20px;
    }
    h3.home{
        font-size: 15px;
    }
    .link-trayectoria{
        background-color: $colorprincipal;
        font-family: "Work Sans", sans-serif;
        color: rgb(255, 255, 255);
        text-decoration: none;
        border-radius: 4px;
        font-size: 20px;
        font-weight: bold;
        padding: 5px;
        margin-left: 15px;
        text-shadow: 0 0 5px rgb(1, 0, 2);
    }
    .p-trayectoria{
        font-size: 16px;
        margin: 1px;
        margin-bottom: 1px;
    }
    .p-trayectoria2{
        font-size: 16px;
        margin-bottom: 1px;
        margin-top: 10px;
    }
}

@media(min-width:1366px) and (max-width:1366px){
    .p-home{
        padding: 3px;
        font-size: 17px;
    }
    .h1-home{
        font-size: 50px;  
    }
    .p-trayectoria{
        font-size: 17px;
        margin: 1px;
        margin-bottom: 1px;
    }
    .p-trayectoria2{
        font-size: 17px;
        margin-bottom: 1px;
        margin-top: 10px;
    }
}

@media(min-width:1920px) and (max-width:1920px){
    .h1-home{
        font-size: 80px;
    }
    .p-home{
        font-size: 18px;
        padding: 18px;
    }
    .p-home2{
        font-size: 16px;
    }
    .link-trayectoria{
        background-color: $colorprincipal;
        font-family: "Work Sans", sans-serif;
        color: rgb(255, 255, 255);
        text-decoration: none;
        border-radius: 4px;
        font-size: 20px;
        font-weight: bold;
        padding: 5px;
        margin-left: 15px;
        text-shadow: 0 0 5px rgb(1, 0, 2);
    }
    .jumbotron{
        height: 1000px;
    }
    .h1-trayectoria{
        font-size: 38px;
    }
    .p-trayectoria{
        font-size: 18px;
        margin: 25px;
        margin-bottom: 100px;
    }
    .p-trayectoria2{
        font-size: 18px;
        margin-bottom: 18px;
        margin-top: 30px;
    }
}
